<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>List of Employees</title>
</head>
<body>
    <h2>List of Employees</h2>
    {{#employees}}
        <p><b>Name:</b> {{name}} <b>Email:</b> {{email}}</p>
    {{/employees}}
</body>
</html>