<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
    <div>Welcome, {{name}}!</div>
    <p>
        <a href="/add_user">Зарегистрировать пользователя</a>
    </p>
</body>
</html>